In [10]:
import main as tools

final_dataFrame = tools.all_data_concat()
print(final_dataFrame.info())

AttributeError: module 'main' has no attribute 'all_data_concat'

In [6]:
# groupby
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})

In [5]:
df.groupby('key1')["data1"].mean()
df.groupby('key1')[["data1","data2"]].mean()
df.groupby(['key1','key2']).mean()

              data1     data2
key1 key2
a    one   0.025319  0.067293
     two  -1.074252  0.534434
b    one  -0.720977  0.421666
     two   0.679455  1.493380