In [1]:
import numpy as np
import pandas as pd

students = np.random.randint(50, high=101, size=(50, 5))
students_df = pd.DataFrame(data=students,
            index=[f"學生{i}" for i in range(1,51)],
            columns=['國文','英文','數學','地理','歷史'])
students_df

       國文   英文  數學  地理   歷史
學生1    94   74  98  89   92
學生2    68  100  66  99   70
學生3    59   95  88  59   60
學生4    80  100  75  98   77
學生5    57   93  83  77   91
學生6    52   82  93  77   54
學生7    61   55  97  98   74
學生8    70   66  80  55   66
學生9    71   56  68  95   90
學生10   69   52  87  90   90
學生11   62   54  82  65   96
學生12   82   82  98  58   92
學生13   68   89  85  93   95
學生14   57   73  96  77   78
學生15   51   51  80  94   83
學生16   55   50  70  76   55
學生17   77   69  82  90   83
學生18   86   72  66  57   72
學生19   56   55  69  60  100
學生20   64   61  79  66   67
學生21   88   89  78  82   98
學生22   62   80  62  89   53
學生23   58   76  90  64   90
學生24   98   87  64  70   93
學生25   82   61  97  61   60
學生26   78   73  98  81   92
學生27   59   67  67  97   69
學生28   63   61  69  74   60
學生29   72   50  72  61   95
學生30   69   88  94  60   97
學生31   77   88  70  61   89
學生32   56   93  94  95   80
學生33   90   66  97  76   99
學生34   74   97  64  62   86
學生35   51   81  72  88   83
學生36   57   57  59  98   61
學生37   96   66  84  87   78
學生38  100   59  65  79   91
學生39   77   50  87  54   68
學生40   54   88  66  68   96
學生41   66   72  54  98   97
學生42   75   66  50  89   66
學生43   55   90  58  82   57
學生44   77   83  69  90   62
學生45   75   67  70  50   74
學生46   54   65  79  79   61
學生47  100   94  59  93   68
學生48   86   99  57  61   68
學生49   80   74  89  78   51
學生50   84  100  98  97   93

In [2]:
# 透過欄的選取
students_df['國文']
students_df[['英文','地理']]

       英文  地理
學生1    74  89
學生2   100  99
學生3    95  59
學生4   100  98
學生5    93  77
學生6    82  77
學生7    55  98
學生8    66  55
學生9    56  95
學生10   52  90
學生11   54  65
學生12   82  58
學生13   89  93
學生14   73  77
學生15   51  94
學生16   50  76
學生17   69  90
學生18   72  57
學生19   55  60
學生20   61  66
學生21   89  82
學生22   80  89
學生23   76  64
學生24   87  70
學生25   61  61
學生26   73  81
學生27   67  97
學生28   61  74
學生29   50  61
學生30   88  60
學生31   88  61
學生32   93  95
學生33   66  76
學生34   97  62
學生35   81  88
學生36   57  98
學生37   66  87
學生38   59  79
學生39   50  54
學生40   88  68
學生41   72  98
學生42   66  89
學生43   90  82
學生44   83  90
學生45   67  50
學生46   65  79
學生47   94  93
學生48   99  61
學生49   74  78
學生50  100  97

In [3]:
# 透過index的選取
students_df.iloc[0]

國文    94
英文    74
數學    98
地理    89
歷史    92
Name: 學生1, dtype: int32

In [4]:
# 透過index的選取
students_df.loc['學生1']

國文    94
英文    74
數學    98
地理    89
歷史    92
Name: 學生1, dtype: int32

In [5]:
students_df.loc[['學生1','學生2']]

     國文   英文  數學  地理  歷史
學生1  94   74  98  89  92
學生2  68  100  66  99  70

In [6]:
students_df.loc[['學生1','學生2'], ["國文","數學"]]

     國文  數學
學生1  94  98
學生2  68  66

In [7]:
students_df.iloc[:5, [0,2]]

     國文  數學
學生1  94  98
學生2  68  66
學生3  59  88
學生4  80  75
學生5  57  83