In [8]:
import numpy as np
import pandas as pd

students = np.random.randint(50, high=101, size=(50, 5))
students_df = pd.DataFrame(data=students,
            index=[f"學生{i}" for i in range(1,51)],
            columns=["國文","英文","數學","地理","歷史"])
students_df

       國文  英文   數學  地理   歷史
學生1    52  64   60  59   78
學生2    53  90   95  66   75
學生3    91  92   83  71   63
學生4    78  94   95  73   84
學生5    92  85   93  86   68
學生6    93  53   81  50   97
學生7    87  97   89  80   59
學生8    64  84   54  57   78
學生9    51  89   60  76   93
學生10   53  71   55  52   95
學生11  100  51   64  86   55
學生12   65  79   91  50   66
學生13   56  94   59  77   86
學生14   65  56   53  55   90
學生15   78  53   74  68   75
學生16   52  56   88  81   89
學生17  100  79   88  57   72
學生18   55  50  100  76   58
學生19   78  95   99  66   88
學生20   51  84   93  75   73
學生21   57  87   64  66  100
學生22   98  89   68  78   55
學生23   84  51   81  85   81
學生24   94  81   84  51   80
學生25   50  66   76  98   84
學生26   92  99  100  59   66
學生27   84  58   75  97   50
學生28   54  81   51  68   64
學生29   70  84   99  66   82
學生30   51  73   53  72   73
學生31   60  66   88  78   69
學生32   53  83   84  87   58
學生33  100  93   65  94   57
學生34   68  56   88  65   68
學生35   89  70   67  62   74
學生36   56  61   97  81   53
學生37   66  96   82  87  100
學生38   63  86   94  54   64
學生39   91  89   82  82   74
學生40   87  89   68  87   88
學生41  100  63   57  78   66
學生42   77  75   96  51   56
學生43   51  76   58  87   81
學生44   77  73   95  52   64
學生45   85  60   83  58   94
學生46   96  79   51  92   65
學生47   68  77   90  80   93
學生48   84  65   97  53   68
學生49   74  91   72  77   66
學生50   71  52   96  73   57

In [6]:
students_df.to_numpy()

array([[ 89,  80,  65, 100,  76],
       [ 54,  72,  65,  51,  94],
       [ 57,  68,  62,  86,  93],
       [ 98,  53,  60, 100,  67],
       [ 55,  96,  75,  77,  57],
       [ 85,  62,  78,  71,  77],
       [ 56,  83,  50,  53,  60],
       [ 66,  65,  52,  54,  62],
       [ 59,  51,  71,  86,  91],
       [ 72,  57,  60,  68,  77],
       [ 98,  73,  68,  75,  63],
       [ 60,  93,  59,  71,  94],
       [ 68,  61,  82,  64,  92],
       [ 51,  57,  52,  63,  79],
       [ 72,  82,  57,  78,  97],
       [ 85,  52,  50,  53,  76],
       [ 94,  93,  80,  86,  76],
       [ 61,  64,  94,  92,  73],
       [ 86,  90,  51, 100,  78],
       [ 79,  73,  56,  87,  57],
       [ 66,  61,  53,  87,  96],
       [ 66,  71,  71,  67,  87],
       [ 76,  56,  56,  62,  83],
       [ 74,  56,  83,  63,  61],
       [ 62,  92,  50,  76,  83],
       [ 89,  88,  51,  67,  83],
       [ 87,  84,  85,  74,  81],
       [ 84,  75,  95,  94,  53],
       [ 74,  91,  59,  74,  71],
       [ 85,  87,  55,  68,  54],
       [ 66,  60,  91,  96,  72],
       [ 50,  96, 100,  66,  52],
       [ 70,  80,  63,  90,  73],
       [ 62,  91,  52,  90,  53],
       [ 88,  62,  87,  53,  59],
       [ 57,  88,  54,  77,  92],
       [ 59,  84,  57,  50,  61],
       [ 72,  78,  75,  64,  57],
       [ 89,  84,  80,  80,  60],
       [ 65,  60,  74,  92,  90],
       [ 90,  82,  81,  81,  97],
       [ 57,  81,  85,  96,  74],
       [ 80,  64,  78,  76,  71],
       [ 98,  55,  53,  81,  86],
       [ 54,  79,  82,  65,  70],
       [ 74,  75,  90,  68,  62],
       [ 99,  74,  66,  95,  50],
       [ 94,  82,  71,  93,  97],
       [ 57,  62,  68,  99,  59],
       [ 86,  95,  50,  98,  62]], dtype=int32)