In [1]:
import pandas as pd
world_df = pd.read_csv("world.csv")
print(world_df.columns)
print(world_df.info())

Index(['ID', 'iso_code', '洲名', '國家', '日期', '總確診數', '新增確診數', '七天移動平均新增確診數',
       '總死亡數', '新增死亡數', '七天移動平均新增死亡數', '每百萬人確診數', '每百萬人死亡數', '傳染率', '新增檢驗件數',
       '總檢驗件數', '每千人檢驗件數', '七天移動平均新增檢驗件數', '陽性率', '每確診案例相對檢驗數量', '疫苗總接種總劑數',
       '疫苗總接種人數', '疫苗新增接種劑數', '七天移動平均疫苗新增接種劑數', '每百人接種疫苗劑數', '每百人接種疫苗人數',
       '疫情控管指數', '總人口數', '中位數年紀', '70歲以上人口比例', '平均壽命', '解除隔離數', '解封指數'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187885 entries, 0 to 187884
Data columns (total 33 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ID              187885 non-null  int64
 1   iso_code        187885 non-null  object
 2   洲名              187885 non-null  object
 3   國家              187885 non-null  object
 4   日期              187885 non-null  object
 5   總確診數            187885 non-null  int64
 6   新增確診數           187885 non-null  int64
 7   七天移動平均新增確診數     187885 non-null  float64
 8   總死亡數            187885 non-null  int64
 9   新增死亡數           187885 non-null  int64
 10  七天移動平均新增死亡數     187885 non-null  float64
 11  每百萬人確診數         187885 non-null  float64
 12  每百萬人死亡數         187885 non-null  float64
 13  傳染率             187885 non-null  float64
 14  新增檢驗件數          187885 non-null  int64
 15  總檢驗件數           187885 non-null  int64
 16  每千人檢驗件數         187885 non-null  float64
 17  七天移動平均新增檢驗件數    187885 non-null  float64
 18  陽性率             187885 non-null  float64
 19  每確診案例相對檢驗數量     187885 non-null  float64
 20  疫苗總接種總劑數        187885 non-null  int64
 21  疫苗總接種人數         187885 non-null  int64
 22  疫苗新增接種劑數        187885 non-null  int64
 23  七天移動平均疫苗新增接種劑數  187885 non-null  float64
 24  每百人接種疫苗劑數       187885 non-null  float64
 25  每百人接種疫苗人數       187885 non-null  float64
 26  疫情控管指數          187885 non-null  float64
 27  總人口數            187885 non-null  int64
 28  中位數年紀           187885 non-null  float64
 29  70歲以上人口比例       187885 non-null  float64
 30  平均壽命            187885 non-null  float64
 31  解除隔離數           187885 non-null  int64
 32  解封指數            187885 non-null  float64
dtypes: float64(17), int64(12), object(4)
memory usage: 47.3+ MB
None

In [2]:
world_df1 = world_df.reindex(columns=['洲名','國家','日期','總確診數','新增確診數','總人口數','解封指數'])
world_df1

        洲名   國家          日期    總確診數  新增確診數      總人口數     解封指數
0       亞洲  阿富汗  2020-02-24       5      5  39835428  99999.0
1       亞洲  阿富汗  2020-02-25       5      0  39835428  99999.0
2       亞洲  阿富汗  2020-02-26       5      0  39835428  99999.0
3       亞洲  阿富汗  2020-02-27       5      0  39835428  99999.0
4       亞洲  阿富汗  2020-02-28       5      0  39835428  99999.0
...     ..  ...         ...     ...    ...       ...      ...
187880  非洲  辛巴威  2022-07-02  255586      0  15092171  99999.0
187881  非洲  辛巴威  2022-07-03  255586      0  15092171  99999.0
187882  非洲  辛巴威  2022-07-04  255726    140  15092171  99999.0
187883  非洲  辛巴威  2022-07-05  255755     29  15092171  99999.0
187884  非洲  辛巴威  2022-07-06  255805     50  15092171  99999.0

[187885 rows x 7 columns]

In [3]:
# 使用布林遮罩篩選出「國家」欄位為「台灣」的資料

mask_taiwan = world_df1['國家'] == "台灣"
world_df_taiwan = world_df1[mask_taiwan]
world_df_taiwan

        洲名  國家          日期     總確診數  新增確診數      總人口數      解封指數
163986  亞洲  台灣  2020-01-16        0      0  23855008  99999.00
163987  亞洲  台灣  2020-01-17        0      0  23855008  99999.00
163988  亞洲  台灣  2020-01-18        0      0  23855008  99999.00
163989  亞洲  台灣  2020-01-19        0      0  23855008  99999.00
163990  亞洲  台灣  2020-01-20        0      0  23855008  99999.00
...     ..  ..         ...      ...    ...       ...       ...
164884  亞洲  台灣  2022-07-02  3837856  34807  23855008    258.17
164885  亞洲  台灣  2022-07-03  3870528  32672  23855008    260.37
164886  亞洲  台灣  2022-07-04  3893643  23115  23855008    261.94
164887  亞洲  台灣  2022-07-05  3929627  35984  23855008    264.37
164888  亞洲  台灣  2022-07-06  3964188  34561  23855008    266.71

[903 rows x 7 columns]

In [4]:
#使用DataFrame的query()方法篩選出
world_df_taiwan = world_df1.query('國家 == "台灣"')
world_df_taiwan

        洲名  國家          日期     總確診數  新增確診數      總人口數      解封指數
163986  亞洲  台灣  2020-01-16        0      0  23855008  99999.00
163987  亞洲  台灣  2020-01-17        0      0  23855008  99999.00
163988  亞洲  台灣  2020-01-18        0      0  23855008  99999.00
163989  亞洲  台灣  2020-01-19        0      0  23855008  99999.00
163990  亞洲  台灣  2020-01-20        0      0  23855008  99999.00
...     ..  ..         ...      ...    ...       ...       ...
164884  亞洲  台灣  2022-07-02  3837856  34807  23855008    258.17
164885  亞洲  台灣  2022-07-03  3870528  32672  23855008    260.37
164886  亞洲  台灣  2022-07-04  3893643  23115  23855008    261.94
164887  亞洲  台灣  2022-07-05  3929627  35984  23855008    264.37
164888  亞洲  台灣  2022-07-06  3964188  34561  23855008    266.71

[903 rows x 7 columns]

In [5]:
#篩選出「國家」欄位為「台灣」且「新增確診數」大於0的資料
taiwan1 = world_df1.query("國家 == '台灣' and 新增確診數 > 0")
taiwan1

        洲名  國家          日期     總確診數  新增確診數      總人口數      解封指數
163994  亞洲  台灣  2020-01-24        3      2  23855008  99999.00
163996  亞洲  台灣  2020-01-26        4      1  23855008  99999.00
163997  亞洲  台灣  2020-01-27        5      1  23855008  99999.00
163998  亞洲  台灣  2020-01-28        8      3  23855008  99999.00
164000  亞洲  台灣  2020-01-30        9      1  23855008  99999.00
...     ..  ..         ...      ...    ...       ...       ...
164884  亞洲  台灣  2022-07-02  3837856  34807  23855008    258.17
164885  亞洲  台灣  2022-07-03  3870528  32672  23855008    260.37
164886  亞洲  台灣  2022-07-04  3893643  23115  23855008    261.94
164887  亞洲  台灣  2022-07-05  3929627  35984  23855008    264.37
164888  亞洲  台灣  2022-07-06  3964188  34561  23855008    266.71

[717 rows x 7 columns]

In [6]:
taiwan_max =world_df_taiwan['新增確診數'].max()
taiwan_max_row = world_df_taiwan.query("新增確診數 == @taiwan_max")
taiwan_max_row

        洲名  國家          日期    總確診數   新增確診數      總人口數   解封指數
164835  亞洲  台灣  2022-05-14  699824  128954  23855008  46.24

In [7]:
world_df_taiwan.query("日期 >= '2022-01-01' and 日期 <= '2022-01-31'")

        洲名  國家          日期   總確診數  新增確診數      總人口數  解封指數
164702  亞洲  台灣  2022-01-01  17050     21  23855008  0.21
164703  亞洲  台灣  2022-01-02  17070     20  23855008  0.21
164704  亞洲  台灣  2022-01-03  17095     25  23855008  0.21
164705  亞洲  台灣  2022-01-04  17129     34  23855008  0.21
164706  亞洲  台灣  2022-01-05  17155     26  23855008  0.22
164707  亞洲  台灣  2022-01-06  17198     43  23855008  0.22
164708  亞洲  台灣  2022-01-07  17258     60  23855008  0.22
164709  亞洲  台灣  2022-01-08  17302     44  23855008  0.23
164710  亞洲  台灣  2022-01-09  17362     60  23855008  0.23
164711  亞洲  台灣  2022-01-10  17394     32  23855008  0.23
164712  亞洲  台灣  2022-01-11  17463     69  23855008  0.24
164713  亞洲  台灣  2022-01-12  17559     96  23855008  0.24
164714  亞洲  台灣  2022-01-13  17624     65  23855008  0.25
164715  亞洲  台灣  2022-01-14  17692     68  23855008  0.25
164716  亞洲  台灣  2022-01-15  17769     77  23855008  0.26
164717  亞洲  台灣  2022-01-16  17820     51  23855008  0.26
164718  亞洲  台灣  2022-01-17  17885     65  23855008  0.27
164719  亞洲  台灣  2022-01-18  17951     66  23855008  0.27
164720  亞洲  台灣  2022-01-19  18005     54  23855008  0.27
164721  亞洲  台灣  2022-01-20  18041     36  23855008  0.28
164722  亞洲  台灣  2022-01-21  18109     68  23855008  0.28
164723  亞洲  台灣  2022-01-22  18238    129  23855008  0.29
164724  亞洲  台灣  2022-01-23  18325     87  23855008  0.30
164725  亞洲  台灣  2022-01-24  18376     51  23855008  0.30
164726  亞洲  台灣  2022-01-25  18411     35  23855008  0.30
164727  亞洲  台灣  2022-01-26  18503     92  23855008  0.31
164728  亞洲  台灣  2022-01-27  18566     63  23855008  0.31
164729  亞洲  台灣  2022-01-28  18634     68  23855008  0.32
164730  亞洲  台灣  2022-01-29  18681     47  23855008  0.32
164731  亞洲  台灣  2022-01-30  18735     54  23855008  0.32
164732  亞洲  台灣  2022-01-31  18790     55  23855008  0.33