In [ ]:
import pandas as pd

dataFrame = pd.read_csv('world.csv')
dataFrame.info()

In [2]:
allDataFrame = dataFrame.reindex(columns=['洲名','國家','日期','總確診數','新增確診數','總人口數','解封指數'])
mask = allDataFrame["洲名"] == "亞洲"
asiaDataFrame = allDataFrame[mask]
asiaDataFrame

        洲名   國家          日期   總確診數  新增確診數      總人口數     解封指數
0       亞洲  阿富汗  2020-02-24      5      5  39835428  99999.0
1       亞洲  阿富汗  2020-02-25      5      0  39835428  99999.0
2       亞洲  阿富汗  2020-02-26      5      0  39835428  99999.0
3       亞洲  阿富汗  2020-02-27      5      0  39835428  99999.0
4       亞洲  阿富汗  2020-02-28      5      0  39835428  99999.0
...     ..  ...         ...    ...    ...       ...      ...
186200  亞洲   葉門  2022-07-02  11824      0  30490639  99999.0
186201  亞洲   葉門  2022-07-03  11824      0  30490639  99999.0
186202  亞洲   葉門  2022-07-04  11832      8  30490639  99999.0
186203  亞洲   葉門  2022-07-05  11832      0  30490639  99999.0
186204  亞洲   葉門  2022-07-06  11832      0  30490639  99999.0

[43071 rows x 7 columns]

In [3]:
# 選取台灣資料
mask_taiwan = allDataFrame["國家"] == "台灣"
taiwanDataFrame = allDataFrame[mask_taiwan]
taiwanDataFrame

        洲名  國家          日期     總確診數  新增確診數      總人口數      解封指數
163986  亞洲  台灣  2020-01-16        0      0  23855008  99999.00
163987  亞洲  台灣  2020-01-17        0      0  23855008  99999.00
163988  亞洲  台灣  2020-01-18        0      0  23855008  99999.00
163989  亞洲  台灣  2020-01-19        0      0  23855008  99999.00
163990  亞洲  台灣  2020-01-20        0      0  23855008  99999.00
...     ..  ..         ...      ...    ...       ...       ...
164884  亞洲  台灣  2022-07-02  3837856  34807  23855008    258.17
164885  亞洲  台灣  2022-07-03  3870528  32672  23855008    260.37
164886  亞洲  台灣  2022-07-04  3893643  23115  23855008    261.94
164887  亞洲  台灣  2022-07-05  3929627  35984  23855008    264.37
164888  亞洲  台灣  2022-07-06  3964188  34561  23855008    266.71

[903 rows x 7 columns]

In [5]:
# 選取台灣資料同時選取日本資料
mask_taiwan_japan = (allDataFrame["國家"] == "台灣") | (allDataFrame["國家"] == "日本")
taiwan_japan_DataFrame = allDataFrame[mask_taiwan_japan]
taiwan_japan_DataFrame

        洲名  國家          日期     總確診數  新增確診數       總人口數      解封指數
85626   亞洲  日本  2020-01-22        2      0  126050796  99999.00
85627   亞洲  日本  2020-01-23        2      0  126050796  99999.00
85628   亞洲  日本  2020-01-24        2      0  126050796  99999.00
85629   亞洲  日本  2020-01-25        2      0  126050796  99999.00
85630   亞洲  日本  2020-01-26        4      2  126050796  99999.00
...     ..  ..         ...      ...    ...        ...       ...
164884  亞洲  台灣  2022-07-02  3837856  34807   23855008    258.17
164885  亞洲  台灣  2022-07-03  3870528  32672   23855008    260.37
164886  亞洲  台灣  2022-07-04  3893643  23115   23855008    261.94
164887  亞洲  台灣  2022-07-05  3929627  35984   23855008    264.37
164888  亞洲  台灣  2022-07-06  3964188  34561   23855008    266.71

[1800 rows x 7 columns]

In [6]:
# 台灣與日本的新增確診數大於20000
mask_cases = (taiwan_japan_DataFrame["新增確診數"] > 20000)
high_cases_taiwan_japan = taiwan_japan_DataFrame[mask_cases]
high_cases_taiwan_japan

        洲名  國家          日期     總確診數  新增確診數       總人口數      解封指數
86195   亞洲  日本  2021-08-13  1111683  20496  126050796  99999.00
86196   亞洲  日本  2021-08-14  1131986  20303  126050796  99999.00
86199   亞洲  日本  2021-08-17  1184986  20105  126050796  99999.00
86200   亞洲  日本  2021-08-18  1209082  24096  126050796  99999.00
86201   亞洲  日本  2021-08-19  1234423  25341  126050796  99999.00
...     ..  ..         ...      ...    ...        ...       ...
164884  亞洲  台灣  2022-07-02  3837856  34807   23855008    258.17
164885  亞洲  台灣  2022-07-03  3870528  32672   23855008    260.37
164886  亞洲  台灣  2022-07-04  3893643  23115   23855008    261.94
164887  亞洲  台灣  2022-07-05  3929627  35984   23855008    264.37
164888  亞洲  台灣  2022-07-06  3964188  34561   23855008    266.71

[220 rows x 7 columns]